{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>clinic</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'assets/js/pickadate/themes/default.css' %}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{% static 'assets/js/pickadate/themes/default.date.css' %}" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{% static 'assets/css/screen.css' %}" type="text/css" media="screen, projection" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    {% block content %}{% endblock %}

    <script src="https://yastatic.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'assets/js/pickadate/picker.js' %}"></script>
    <script src="{% static 'assets/js/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'assets/js/pickadate/translations/ru_RU.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
